
ul{
    margin: 0 !important;
    padding: 0 !important;
}

input,select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    font-size: 11px;
    color: gray;
    font-weight: 700;
    padding: 20px;
    outline: none !important ;

}



img{
    max-width: 100%;
}

.header-navbar{
    width: 100%;
    background: linear-gradient(rgba(33,45,70,0.7), rgba(33,45,70,0.7)), url(img/topluluk.jpeg);

}


.takim{
    justify-content: center;
    
}
ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    
}
ul li a:hover{
    color: #990033;
}
.ara{
    color: gray;
    width: auto;
    border-bottom:1px solid gray;
   
}

.ara:hover{
    color: white;
    background-color: black;
}

.alfabe{
    color: #990033;
   
}

.container-footer{
    width: 100%;
  
    background-color: #020a20;
}

.left-bottom{
    margin-top: 1rem;
}
.takvim{
    width: 20px;
    background-color: white;
}
.form-control{
    background-color: #696d75;
    font-size: 25px;
    border-radius: 0;
    margin: 0;
    padding: .12px;
   font-weight: 500;
   font-size: small;
}
.form-control:hover {
border-color: none;
}  
  
   

.btn{
    border-radius: 0;
    font-weight: bold;
}
.icon{
    width: 2rem;
    display: inline-block;
    margin: 1rem;
}
.nav-link {
    color:#a1a1a1 ;
}
div div div ul li a{
    color: #a1a1a1;
    font-weight: 700;
}
@media screen  and (max-width:576px){
.container-footer{

    text-align: center;
   
}
.col-md-3{
    text-align: center;
}


}



